<div class="row headerDiv">
    <div class="col-2">

    </div>
    <div class="col-4" style="text-align: center;">
        <button class="btnHeader active" (click)="onCardClicked('New Client')"> New Client</button>
    </div>

    <div class="col-4" style="text-align: center;">
        <button class="btnHeader " (click)="onCardClicked('New Employee')"> New Employee</button>
    </div>
    <div class="col-2">

    </div>
</div>
<form [formGroup]="frm" autocomplete="off">
    <div class="flexContainer">
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Active</div>
                <div class="col-6">
                    <p-inputSwitch formControlName="Active" placeholder="Active"></p-inputSwitch>
                </div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Insurence ID</div>
                <div class="col-6"> <input name="InsurenceID" formControlName="InsurenceID" type="text"
                        class="form-control"></div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">City</div>
                <div class="col-6"> <input name="City" formControlName="City" type="text" class="form-control"></div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Bill To</div>
                <div class="col-6"> <input name="BillTo" formControlName="BillTo" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable"># of Children</div>
                <div class="col-6"> <input name="NoOfChildren" formControlName="NoOfChildren" type="text"
                        class="form-control"></div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">County</div>
                <div class="col-6"> <input name="County" formControlName="County" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">First Name</div>
                <div class="col-6"> <input name="FirstName" formControlName="FirstName" type="text"
                        class="form-control"></div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">SSN</div>
                <div class="col-6"> <input name="SSN" formControlName="SSN" type="text" class="form-control"></div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">State</div>
                <div class="col-6">
                    <p-dropdown styleClass="form-control" [options]="StateList" formControlName="State" [filter]="true"
                        filterBy="name" placeholder="Select" optionLabel="name">
                    </p-dropdown>
                    <!-- <select name="State" class="form-control" id="ddlState"></select> -->
                </div>
            </div>
        </div>

        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Middle Name</div>
                <div class="col-6"> <input name="MiddleName" formControlName="MiddleName" type="text"
                        class="form-control"></div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Client ID</div>
                <div class="col-6"> <input name="ClientID" formControlName="ClientID" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Zip Code</div>
                <div class="col-6"> <input name="ZipCode" (keypress)="isNumber($event)" maxlength="6"
                        formControlName="ZipCode" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Last Name</div>
                <div class="col-6"> <input name="LastName" formControlName="LastName" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Gender</div>
                <div class="col-6">
                    <p-dropdown styleClass="form-control" [options]="GenderList" formControlName="Gender"
                        optionLabel="name" [filter]="true" filterBy="name" placeholder="Select"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Referred By</div>
                <div class="col-6">

                    <input name="ReferredBy" formControlName="ReferredBy" type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Cell Phone</div>
                <div class="col-6"> <input name="CellPhone" (keypress)="isNumber($event)" maxlength="10"
                        formControlName="CellPhone" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Nurse</div>
                <div class="col-6">
                    <p-dropdown styleClass="form-control" [options]="NurseList" formControlName="Nurse"
                        optionLabel="name" [filter]="true" filterBy="name" placeholder="Select"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Emergency Contact</div>
                <div class="col-6"> <input (keypress)="isNumber($event)" maxlength="10" name="EmergencyContact"
                        formControlName="EmergencyContact" type="text" class="form-control"></div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Ethnicity</div>
                <div class="col-6">
                    <input name="Ethnicity" formControlName="Ethnicity" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Case Coordinator</div>
                <div class="col-6">
                    <p-dropdown styleClass="form-control" [options]="CaseCoordinatorList"
                        formControlName="CaseCoordinator" optionLabel="name" [filter]="true" filterBy="name"
                        placeholder="Select"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Case Worker Phone</div>
                <div class="col-6"> <input name="CaseWorkerPhone" formControlName="CaseWorkerPhone" type="text"
                        class="form-control"></div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Email</div>
                <div class="col-6"> <input name="Email" formControlName="Email" type="text" class="form-control"></div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Marital Status</div>
                <div class="col-6">
                    <p-dropdown styleClass="form-control" [options]="MaritalStatusList" formControlName="MaritalStatus"
                        optionLabel="name" [filter]="true" filterBy="name" placeholder="Select"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-6 lable">Case Worker Email
                </div>
                <div class="col-6"> <input name="CaseWorkerEmail" formControlName="CaseWorkerEmail" type="text"
                        class="form-control"></div>
            </div>
        </div>

        <div class="flex-row-item">

        </div>
        <div class="flex-row-item">

        </div>
        <div class="flex-row-item">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <button class="btnSave">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{frm.value | json}}
        </div>
    </div>
</form>