<div class="row headerDiv">
    <div class="col-2">

    </div>
    <div class="col-4" style="text-align: center;">
        <button class="btnHeader active" (click)="onCardClicked('New Client')"> New Client</button>
    </div>

    <div class="col-4" style="text-align: center;">
        <button class="btnHeader" (click)="onCardClicked('New Employee')"> New Employee</button>
    </div>
    <div class="col-2">

    </div>
</div>
<div class="flexContainer">
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Active</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Date of Hire</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">City</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">SSN</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Date of First Case</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">County</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">First Name</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">DOB</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">State</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Middle Name</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Employee ID</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Zip Code</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Last Name</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Gender</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Emergency Phone</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Cell Phone</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">HR Supervisor</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Emergency Contact</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Home Phone</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Ethnicity</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <!-- <div class="col-6 lable">Active</div>
            <div class="col-6"> <input name="name"  type="text" class="form-control"></div> -->
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Email</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-6 lable">Marital Status</div>
            <div class="col-6"> <input name="name" type="text" class="form-control"></div>
        </div>
    </div>
    <div class="flex-row-item">
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <button class="btnSave">Save</button>
            </div>
        </div>
    </div>

</div>