@import url("../../../../../assets/css/form.scss");

// .flex-row-container {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
// }
// .flex-row-container > .flex-row-item {
//   flex: 1 1 30%; /*grow | shrink | basis */
// }

// .flex-row-item > .row {
//   margin-left: 25px;
//   margin-right: 25px;
//   margin-top: 10px;
// }

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 2000px;
  justify-content: center;
}

.flex-row-item {
  //border: 1px solid black;
  //margin: 0 15px 30px 15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  flex: 0 0 300px;
  padding: 0;
}

.lable.required:after {
  content: "*";
  color: red;
}

.hasError {
  border-color: #dc3545 !important;
}
